{% extends 'layout.html' %}

{% macro set_quantity(icon, sku, name, product, quantity) %}
    <form class="cart--update-quantity" action="{{ url_for('shop.cart') }}" method="POST">
        <input type='hidden' name='sku' value={{ sku }}>
        <input type='hidden' name='name' value={{ name }}>
        <input type='hidden' name='product' value={{ product }}>
        <input type='hidden' name='quantity' value={{ quantity }}>
        <input type="submit" value={{ icon }}>
    </form>
{% endmacro %}

{% block content %}
<div class="cart">
    <h2>Cart</h2>
    {% if session.get('cart') %}
        <table>
            <tbody>
                {% for id, quantity in session['cart'].items() %}
                    {% set name = session['meta'][id]['name'] %}
                    {% set product = session['meta'][id]['product_id'] %}
                    <tr>
                        <td>{{ name }}</td>
                        <td class='cart--update-quantity-symbol'>{{ set_quantity('➖', id, name, product, quantity-1) }}</td>
                        <td class='cart--quantity'>{{ quantity }}</td>
                        <td class='cart--update-quantity-symbol'>{{ set_quantity('➕', id, name, product, quantity+1) }}</td>
                        <td>{{ '${:,.2f}'.format(session['meta'][id]['price']/100 * quantity) }} {{ set_quantity('🗑', id, name, 0) }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>Subtotal</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ '${:,.2f}'.format(subtotal/100) }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{{ url_for('shop.checkout') }}" class="go-checkout">Check Out</a>
    {% else %}
        <h2>Your cart is empty.</h2>
    {% endif %}
</div>
{% endblock %}
