{% extends 'layout.html' %}

{% block content %}
<h1>Subscription Plans</h1>
{% if not plans %}
    <h2>No plans</h2>
{% else %}
    <ul class="grid">
        {% for p in plans %}
            <li class="item">
                <a href="{{ url_for('shop.plan', id=p.id[5:]) }}">
                    <img src="{{ p.metadata.image }}" class="thumb" />
                </a>
                <div class="justify-vertical">
                    <h2>
                        <a href="{{ url_for('shop.plan', id=p.id[5:]) }}">
                            {{ p.name }}
                        </a>
                    </h2>
                    <div class="meta">
                        <div>{{ p.metadata.caption }}</div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}

