{% extends 'shop/email/layout.html' %}
{% block content %}
<div>
  <div style="line-height: 10px; font-size: 1px">&nbsp;</div>
  <div style="font-size:12px;line-height:18px;font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;color:#222222;text-align:left;"><p style="margin: 0;font-size: 12px;line-height: 18px"><span style="font-size: 18px; line-height: 27px;"><strong><span style="line-height: 27px; font-size: 18px;">Thank you for your subscription.</span></strong></span></p></div>
</div>
<div>
  <div style="margin-top:20px;margin-bottom:30px;font-weight:bold;">Subscription #{{ subscription.id[4:] }}</div>
  <table style="width:100%;">
      {% for item in subscription['items']['data'] %}
        <tr>
            <td>{{ item.plan.nickname }}</td>
            <td style="text-align:right;">{{ '${:,.2f}'.format(item.plan.amount/100) }}/{% if item.plan.interval_count > 1 %}{{ item.plan.interval_count }} {% endif %}{{ item.plan.interval }}{% if item.plan.interval_count > 1 %}s{% endif %}</td>
        </tr>
      {% endfor %}
      {% for item in line_items %}
          <tr>
              <td>{{ item.custom.name }}</td>
              <td>{{ '${:,.2f}'.format(item.amount/100 * item.quantity) }}</td>
          </tr>
      {% endfor %}
  </table>
</div>
{% endblock %}

