{% extends 'layout.html' %}

{% block content %}
<div class="product">
    <div class="product--gallery">
        <figure>
            <img src="{{ product.metadata.image }}" />
        </figure>
    </div>

    <div class="product--info">
        <h1>{{ product.name }}</h1>
        <p>{{ product.metadata.description }}</p>
        <div class="product--skus">
            {% for plan in plans %}
                <div class="product--sku">
                    <form action='{{ url_for('main.cart') }}' method='POST'>
                        <input type='hidden' name='sku' value={{ plan.id }}>
                        <input type='hidden' name='name' value='{{ product.name }} - {{ plan.nickname }}'>
                        <div class="sku">
                            <div>
                                <div>{{ plan.nickname }}</div>
                                <div class="sku--price">{{ '${:,.2f}'.format(plan.amount/100) }}/{{ plan.interval }}</div>
                            </div>
                            <input type="submit" value='Add to Cart'>
                        </div>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

