{% extends 'layout.html' %}

{% block content %}
<h1>Products</h1>
{% if not products %}
    <h2>No products</h2>
{% else %}
    <ul class="grid">
        {% for p in products %}
            <li class="item">
                <figure>
                    <a href="{{ url_for('main.product', id=p.id[5:]) }}">
                        <img src="{{ p.images[0] }}" class="thumb" />
                    </a>
                </figure>
                <div class="justify-vertical">
                    <h2>
                        <a href="{{ url_for('main.product', id=p.id[5:]) }}">
                            {{ p.name }}
                        </a>
                    </h2>
                    <div class="meta">
                        <div>{{ p.caption }}</div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
