{% from "_macros.html" import pagination %}
{% extends 'layout.html' %}

{% block content %}
<header>
    <h1>Products</h1>
</header>
{% if not products %}
    <h2>No products</h2>
{% else %}
    <ul class="listing">
        {% for p in products %}
            <li class="product">
                <a href="{{ url_for('main.product', slug=p.slug) }}">
                    <img src="{{ p.image }}" class="thumb" />
                </a>
                <div class="justify-vertical">
                    <h2>{{ p.name }}</h2>
                    <div class="meta">
                        <div>{% if p.desc %}{{ p.desc }}{% else %}(No description){% endif %}</div>
                        <div><em>${{ p.price/100 }}</em></div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
