{% from "_macros.html" import render_field_with_errors %}
{% extends 'admin/layout.html' %}

{% block content %}
<header>
    <h1>Product</h1>
    <div>
        {% if product.slug %}
            <div><a href="{{ url_for('main.product', slug=product.slug) }}">
                {% if product.published %}View{% else %}Preview{% endif %}
            </a></div>
        {% endif %}
    </div>
</header>
<form method="POST">
  {{ form.hidden_tag() }}
  {{ render_field_with_errors(form.name) }}
  {{ render_field_with_errors(form.price) }}
  <div class="textarea">
      {{ render_field_with_errors(form.desc) }}
  </div>
  {{ render_field_with_errors(form.published) }}
  <div class="actions">
    <input type="submit" value="Save">
  </div>
</form>
{% if product.id %}
    <ul class="listing">
    {% for sku in product.skus %}
        <li class="sku">
            <h3>{{ sku.name }}</h3>
            <h4>Stock: {{ sku.stock }}</h4>
            <a href="{{ url_for('admin.sku', product_id=product.id, id=sku.id) }}">Edit</a>
        </li>
    {% endfor %}
    </ul>
    <a href="{{ url_for('admin.sku', product_id=product.id) }}">+ SKU</a>
{% endif %}
{% endblock %}
