{% from "_macros.html" import pagination %}
{% extends 'layout.html' %}

{% block content %}
<header>
    <h1>Products</h1>
    <div>
        <a href="{{ url_for('admin.product') }}">+ Product</a>
    </div>
</header>
{% if not products %}
    <h2>No products</h2>
{% else %}
    <ul class="listing">
        {% for p in products %}
            <li class="product">
                <a href="{{ url_for('admin.product', id=p.id) }}" class="blanket"></a>
                <img src="{{ p.image }}" class="thumb" />
                <div class="justify-vertical">
                    <div>
                        {% if p.published %}<div class="tag">Published</div>{% endif %}
                        <h2>{{ p.name }}</h2>
                        <div class="meta">
                            <div>{% if p.desc %}{{ p.desc }}{% else %}(No description){% endif %}</div>
                            <div><em>{{ p.price_str }}</em></div>
                        </div>
                    </div>
                    <div>
                        <a href="{{ url_for('main.product', slug=p.slug) }}" class="view">
                            {% if p.published %}View{% else %}Preview{% endif %}
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
