{% from "_macros.html" import render_field_with_errors %}
{% extends 'admin/layout.html' %}

{% block content %}
<header>
    <h1>{{ product.name }}: SKU</h1>
</header>
<form method="POST">
  {{ form.hidden_tag() }}
  {{ render_field_with_errors(form.name) }}
  {{ render_field_with_errors(form.stock) }}
  <div class="actions">
    <input type="submit" value="Save">
  </div>
</form>
{% if sku %}
    <ul class="listing">
    {% for img in sku.images %}
        <li><img src="{{ url_for('main.uploads', filename=img) }}" /></li>
    {% endfor %}
    </ul>
    <form method="POST" action="{{ url_for('admin.images', product_id=product.id, sku_id=sku.id) }}" enctype="multipart/form-data">
        {{ image_form.hidden_tag() }}
        {{ render_field_with_errors(image_form.file) }}
        <div class="actions">
            <input type="submit" value="+ Image">
        </div>
    </form>
{% endif %}
{% endblock %}
